@import '../../utilities/_palette.sass'
@import '../../utilities/_timers.sass'

.PatientItem
  position: relative
  padding: 20px 30px
  margin: 10px
  border-radius: 10px
  box-sizing: border-box
  box-shadow: 4px 8px 4px 0 $shadow
  cursor: pointer
  transition: $short-frame
  -webkit-transform-style: preserve-3d
  -webkit-backface-visibility: hidden
  transform-origin: 60% 0%

  .patient-name
    font-size: 1.5em
    color: $white

  .patient-address
    font-size: 1.2em
    font-weight: 300
    text-decoration: underline
    color: $white
    
  
  .patient-description
    font-size: 1.2em
    color: $gray-light

  &:after
    content: ''
    position: absolute
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
    border-radius: 10px
    background-color: $setting-dark
    -webkit-transform: rotateY( 180deg )
    -webkit-transform-style: preserve-3d
    -webkit-backface-visibility: hidden
  &.balloon-red
    background-color: $balloon-red
  &.balloon-blue
    background-color: $balloon-blue
  &.balloon-green
    background-color: $balloon-green
  &.balloon-orange
    background-color: $balloon-orange
  &.balloon-yellow
    background-color: $balloon-yellow
  &:hover
    padding: 20px 40px
    box-shadow: 1px 1px 1px 0 $shadow
  &.animate-flip
    transition: $long-frame
    background-color: $setting
    @for $i from 1 through 250
      &:nth-child(#{$i})
        animation:
          name: flip-card
          duration: $long-frame + random(5)/5 * .1s
          delay: random(1000)/100 * .1s
          timing-function: ease-in-out
          fill-mode: forwards
  &.animate-flip-instant
    animation: flip-card $long-frame forwards

  div
    pointer-events: none

@keyframes flip-card
  0%
    opacity: 1
    transform: rotateY(0deg)
    color: $white
  100%
    opacity: 0
    transform: rotateY(-180deg) 
    color: $white

@keyframes flip-card-reverse
  0%
    background-color: $setting-dark
    color: transparent
  100%
    transform: rotateY(-180deg)
    background-color: $setting-dark
    color: transparent
    opacity: 0


    

  