.PatientResourcesDetails {
  display: flex;
  flex-direction: column;
  perspective: 3000px; }

.PatientResourcesDetails .resources-frame {
  flex: 1;
  margin: 30px 40px;
  border-top: 20px solid #ed5572;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform-style: preserve-3d;
  transform-origin: 60% 0%;
  transform: rotateY(0deg);
  opacity: 1;
  font-size: 3em;
  animation-name: flip-frame-reverse;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes flip-frame-reverse {
  0% {
    background-color: #121212;
    color: transparent;
    transform: rotateY(-180deg) translateY(200px) translateZ(2000px);
    opacity: 0;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    transform: rotateY(0deg) translateY(0px);
    background-color: #292d3e;
    opacity: 1; } }
