.PatientResourcesDetails {
  perspective: 3000px; }

.PatientResourcesDetails .resources-frame {
  flex: 1;
  margin: 30px 40px;
  border-top: 20px solid #ed5572;
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform-style: preserve-3d;
  transform-origin: 60% 0%;
  transform: rotateY(0deg);
  opacity: 1;
  font-size: 3em;
  animation-name: flip-frame-reverse;
  animation-duration: 1.32s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.PatientResourcesDetails .resources-frame .dark {
  transition: 1s;
  opacity: .2; }

.PatientResourcesDetails .resources-frame .frame-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.PatientResourcesDetails .resources-frame .frame-menu__left-column .patient-additional {
  color: #a6b5cf;
  font-size: .6em; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column {
  margin-left: 40px;
  flex: 1;
  position: relative;
  perspective: 3000px;
  display: flex;
  align-items: center; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .select-date {
  display: inline-block;
  font-size: .7em;
  cursor: pointer;
  transition: 0.35s;
  background-color: #ed5572;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .select-date.is-on {
  color: #ed5572;
  background-color: #fefefe;
  opacity: 0;
  transform: rotateY(-180deg);
  animation: flip-button-on 0.35s forwards; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .select-date.is-off {
  color: #ed5572;
  background-color: #fefefe;
  opacity: 0;
  transform: rotateY(-180deg);
  animation: flip-button-off 0.35s forwards; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper {
  transition: 0.35s;
  position: absolute;
  top: 0;
  right: 0;
  border: 4px solid #ed5572;
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
  animation: fade-in 0.35s ease-in-out forwards; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrDefinedRangesWrapper,
.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrStaticRange,
.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrDateDisplay,
.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrDateRangeWrapper {
  background-color: transparent; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrInputRanges {
  display: none; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrStartEdge,
.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrEndEdge,
.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper .rdrInRange {
  background-color: #47bbed; }

.PatientResourcesDetails .resources-frame .frame-menu__right-column .rdrDateRangePickerWrapper:hover {
  border-color: #47bbed;
  border-radius: 10px;
  box-shadow: 7px 7px 20px 4px rgba(0, 0, 0, 0.3); }

@keyframes flip-frame-reverse {
  0% {
    background-color: #121212;
    color: transparent;
    transform: rotateY(-180deg) translateY(200px) translateZ(2000px);
    opacity: 0;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3); }
  100% {
    transform: rotateY(0deg) translateY(0px);
    background-color: #292d3e;
    opacity: 1; } }

@keyframes fade-in {
  0% {
    color: transparent;
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flip-button-off {
  0% {
    color: transparent;
    transform: rotateY(-180deg);
    opacity: 0; }
  100% {
    transform: rotateY(0deg);
    background-color: #292d3e;
    opacity: 1; } }

@keyframes flip-button-on {
  0% {
    color: transparent;
    transform: rotateY(-180deg);
    opacity: 0; }
  100% {
    transform: rotateY(0deg);
    opacity: 1; } }
