.PatientResourcesDetails {
  display: flex;
  flex-direction: column; }

.PatientResourcesDetails .resources-frame {
  flex: 1;
  margin: 0 30px 40px 30px;
  border: 5px solid #ed5572;
  border-radius: 20px; }
